.navbar {
  display: flex;
  width: 100%;
  padding: 20px 0;
  background: turquoise;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 83vw;
  margin: auto;
  padding: 15px;
}

.links {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
  font-size: 33px;
  font-weight: bold;
}
