.info {
  max-width: 80vw;
  margin: 30px auto;
  align-items: center;
}

.headers {
  margin: 0;
  padding-left: 20px;
  font-size: 2vw;
}

.ul {
  width: fit-content;
  margin: 0;
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  box-shadow: 4px 8px 6px #aaa;
}

.imgContainer img:hover {
  box-shadow: 4px 8px 6px turquoise;
  border: 1px solid #e8e8e8;
}

.basicInfo,
.ability,
.moves {
  max-width: inherit;
  display: inline-flex;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  box-shadow: 4px 8px 6px #aaa;
}
