.Search {
  margin: auto;
}

.input {
  outline: none;
  border: none;
  padding: 8px 30px;
  margin: 0 5px;
  border-radius: 5px;
}

.btn {
  text-decoration: none;
  color: turquoise;
  font-size: 17px;
  font-weight: bolder;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
}

.btn:hover {
  border: 2px solid #fff;
  background-color: turquoise;
  color: #fff;
}
